
/* font-family: 'Montserrat', sans-serif; */


.is_underline { text-decoration: underline!important; }

/* CUSTOM VARS */
:root {
  --white: #FFF;
  --primary_blue: #082943;
  --blue_accent: #477EBF;
  --link_menu: #9598A7;
  --bg: #F9FAFF;
  --type_yellow: #F2D479;
  --type_orange: #F2B279;
  --type_green: #A0D9AE;
  --type_pink: #E36D84;
  --dark_text: #4B4B4B;
  --bg_2: #F2F7FD;
  --text_blue: #7F9EB4;
}

.type_yellow { background: var(--type_yellow)!important; }
.type_orange { background: var(--type_orange)!important; }
.type_green { background: var(--type_green)!important; }
.type_pink { background: var(--type_pink)!important; }

/* Registration and Login Page */
.registration_login { width: 100vw; height: 100vh; background: url('../img/bg_rtd.png') center center; background-size: cover!important; display: flex; justify-content: center; align-items: center; }
.box_signup_login { width: 277px; }
.box_signup_login img { max-width: 100%; margin-bottom: 32px; }
.s_l_input { font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 1rem; line-height: 1.5rem; color: var(--dark_text);  }
.s_l_input::placeholder { color: #868D96; }
.btn_signup_login { font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 1rem; line-height: 1.1875rem; color: var(--white); background: var(--blue_accent)!important; margin-bottom: 18px; }
.btn_link { font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 0.875rem; line-height: 1.125rem; color: var(--white)!important; }




/* TABLE STYLE */
.title_table { font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 1rem; line-height: 1rem; color: #4E5367; margin-bottom: 23px; }


.b-table thead tr th { background: var(--bg_2); border: none!important; height: 36px!important; }
.b-table thead tr th:first-of-type { border-radius: 7px 0 0 7px; padding-left: 31px; }
.b-table thead tr th:last-of-type { border-radius: 0 7px 7px 0; }

.b-table thead tr th .th-wrap { text-align: left!important; flex-direction: row!important; }
.b-table thead tr th .th-wrap .is-relative { font-family: 'Montserrat', sans-serif!important; font-weight: 700!important; font-size: 0.75rem!important; line-height: 20px!important; color: var(--text_blue)!important; }

.b-table tbody tr td { min-height: 62px!important; height: 62px!important; vertical-align: middle; text-align: left!important; }
.b-table tbody tr td:first-of-type { padding-left: 31px; text-align: left!important; }


/* TABLE PAGINATION */
.b-table .level { justify-content: center; }
.b-table .level-left { display: none!important; }
.b-table .pagination-list { margin-top: 0!important; margin-left: 0!important; }
.b-table .pagination-list li { margin-top: 0!important; }
.b-table .pagination-link { color: transparent!important; font-size: 0!important; line-height: 0!important; min-width: 9px!important; width: 9px; height: 9px; border: solid 2px var(--blue_accent)!important; }
.b-table .pagination-link.is-current { background: var(--blue_accent)!important; }
.b-table .pagination-link:hover { background: var(--blue_accent)!important; }
.b-table .pagination-link.pagination-previous, .b-table .pagination-link.pagination-next { display: none!important; }


.table_link_protocol { font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 0.75rem; color: var(--blue_accent); text-decoration: underline; }

.table_plain_value { font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 0.75rem; color: var(--dark_text); }

.table_date_hour { word-spacing: 7px; }

.table_download_document { display: flex; align-items: center; }
.table_link_document { font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 0.75rem; color: var(--blue_accent); text-decoration: underline; display: flex; justify-content: center; align-items: center; }
.table_link_document .icon { color: var(--dark_text); margin-right: 4px; margin-left: -7px; }
.table_empty_value { font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 12px; line-height: 40px; color: var(--dark_text); }


.table_note_response { position: relative; max-width: 317px; padding: 23px 24px 15px 31px; background: var(--bg_2); border-radius: 7px; margin-top: 5px; margin-bottom: 5px; }
.table_note_response_icon { position: absolute; top: 13px; right: 15px; color: var(--text_blue); cursor: pointer; }
.table_note_response_person { font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 0.75rem; line-height: 0.75rem; margin-bottom: 7px; color: var(--text_blue); }
.table_note_response_message, .table_note_response_date { font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 0.75rem; line-height: 0.9375rem; color: var(--dark_text); }
.table_note_response_date { text-align: right; }

.table_send_file { cursor: pointer; width: 21px; }

.table_btn_boleto { font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 0.625rem; letter-spacing: 0.5px; color: var(--blue_accent); border: solid 1px var(--blue_accent); border-radius: 5px; padding: 6px 12px 5px; display: inline-flex; justify-content: center; align-items: center; cursor: pointer; transition: all .5s; }
.table_btn_boleto:hover { background: var(--blue_accent); color: var(--white); }





















